body {
  margin: 0 !important;           
  padding: 0;
  
}

html, body #root {
  height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;     
  margin-bottom: 3rem;        
}