html, body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;     
  margin-bottom: 3rem;        
}

.navbar, .navbar * {
  margin-top: 0 !important;
  padding-top: 0 !important;
}